*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin
/app/.cxx
/app/.externalNativeBuild
/app/captures
/app/.idea
/app/.gradle
/app/.kotlin
/app/.DS_Store
/app/.idea/caches
/app/.idea/libraries
/app/.idea/modules.xml
/app/.idea/workspace.xml
/app/.idea/navEditor.xml
/app/.idea/assetWizardSettings.xml

# FFmpeg prebuilt shared libraries
**/jniLibs/

# Signing keystore
*.jks

.claude